.img-fluid{
    padding-top:30px;
    padding-bottom: 30px;
}
/* Estilos base para el carrusel */
.d-block{
    width: 100%;
    height: auto; 
    display: flex;
    z-index: 0;
}

/* Media queries para ajustar el tamaño del carrusel según el tamaño de la pantalla */
@media (max-width: 576px) {
    .carousel-item img {
        /* Ajuste de tamaño para pantallas pequeñas */
        width: 100%;
        height: auto;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .carousel-item img {
        /* Ajuste de tamaño para pantallas medianas */
        width: 75%;
        height: auto;
    }
}

@media (min-width: 768px) {
    .carousel-item img {
        /* Ajuste de tamaño para pantallas grandes */
        width: 50%;
        height: auto;
    }
}
