.img-fluid{
    padding-top:30px;
    padding-bottom: 30px;
}
.carousel{
    width: 80%;
    height: 600px; 
    padding-left: 100px;
    display: flex;
    z-index: 0;
}
.d-block{
    width: 100%;
    height: 600px; 
    padding-left: 100px;
    display: flex;
    z-index: 0;
}